body {
  font-family: 'Source Sans Pro', sans-serif;
}

div.container-top-padding {
  padding-top: 20px;
}

div.no-padding {
  padding: 0;
}

p.seen {
  color: #888;
}

#top-nav, #footer-nav {
    margin-bottom: 0;
}

#events {
  padding-bottom: 20px;

  div.event {
    a:hover {
      text-decoration: none;
    }

    div.event-details {
      padding: 10px;

      p {
        margin: 0;
        line-height: 1;
      }

      p.seen {
        margin-top: 10px;
      }
    }
  }

  div.event:nth-child(odd) .event-details {
    background: #FCFCFC;
  }

  div.event:nth-child(even) .event-details {
    background: #F8F8F8;
  }
}

#map-canvas {
  width: 100%;
  height: 500px;
}
